.stack {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}

.icon-book {
  position: absolute;
  top: 0px;
  left: 0px;
}
